:root {
  --font: "Jost";
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
.navbar_frame {
  width: 100%;
  height: ;
}

.navbar_frame {
  background-color: blueviolet;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/*  NAVBAR */

.navbar_frame {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 145px;

  display: flex;
  justify-content: center;
  background-color: rgb(68, 50, 151);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* background-color: rgb(97, 195, 163); */
}

.navbar_frame .navbar_top a {
  height: 36px;
  /* margin-right: 76px; */
}

.navbar_frame .nav_search_frame {
  position: relative;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: #fff;
  border-radius: 6px;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .navbar_top img {
  width: 117px;
  height: 30px;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 50px;

  border: none;
  outline: none;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
}

.navbar_frame .navbar_top .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 59px;
  margin-right: 16px;
}
.navbar_frame .navbar_top .nav_top_menu > a {
  flex-flow: 1;
}

.navbar_frame .nav_top_menu {
  height: 50px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  align-items: center;

  gap: 20px;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;

  /* margin-left: 59px; */
  /* margin-right: 16px; */
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .top_menu_box .box_icon_box img {
  width: 50px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  color: #ffffff;
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.navbar_frame .box_info_box strong {
  color: #ffffff;
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  top: -2px;
  right: -1px;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(11, 30, 64);
  font-family: var(--font);
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;

  background: #f5c34b;
  border-radius: 50%;
}
/* ================================================= */

.navbar_frame .navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-top: 1px solid #5746a1;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_bott_menu_box {
  width: auto;
  height: auto;
  margin-top: 12px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_bott_menu_box .brows_box {
  /* margin-top: 10px; */
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.navbar_frame .brows_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .brows_box span {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 690px;

  /* margin-top: 12px; */

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu .router_menu {
  width: auto;
  height: 41px;

  display: flex;
  /* margin-top: 12px; */
}

.navbar_frame .router_menu a {
  margin-right: 20px;
  /* margin-top: 12px; */

  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .router_menu a.active {
  color: #f5c34b;
}

.navbar_frame .navbar_route_menu .certaing_menu {
  display: flex;
  flex-direction: row;
}

.navbar_frame .certaing_menu span {
  margin-left: 21px;

  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}

/* FOOTER FRAME */

.footer_frame {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background: rgb(243, 245, 246);
}

.footer_frame .container {
  flex-direction: column;
}

.container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.footer_frame .footer_top .footer_contact_box {
  width: 285px;
  height: 194px;

  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_box .footer_title {
  margin-bottom: 30px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_contact_box .contact_box {
  /* margin-top: 36px; */
  margin-bottom: 30px;
  width: 100%;
  height: 54px;

  display: flex;
  flex-direction: row;
}

.footer_frame .contact_box img {
  margin-right: 36px;
  width: 35px;
  height: 30px;
}

.footer_frame .contact_box .footer_spacial_contact {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_spacial_contact strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_spacial_contact span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_top .customer_support_box {
  margin-left: 64px;
  width: 168px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.footer_frame .customer_support_box span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .customer_support_box .customer_type_box {
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.footer_frame .customer_type_box a {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_top .footer_follow_us {
  margin-left: 55px;

  width: 154px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.footer_frame .footer_follow_us .footer_follow-top {
  margin-bottom: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.footer_frame .footer_follow-top .follow_special_box {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_follow-top .follow_icons_top {
  margin-top: 20px;
  width: 155px;
  height: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .follow_icons_top i {
  margin-right: 28px;
}

.footer_frame .footer_follow-top .mobile_apps_box {
  margin-top: 12px;
  /* width: 100%;
  height: auto; */

  display: flex;
  flex-direction: row;
}

.footer_frame .mobile_apps_box img {
  margin-right: 15.17px;
}

.footer_frame .mobile_apps_box span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  /* line-height: 40px; */
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_card-top {
  width: 272px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 136px;
}
.footer_frame .footer_card-top .card_box {
  margin-top: 10px;
}

.footer_frame .footer_card-top .footer_special_box {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .container .footer_botton {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  border-top: 1px solid #eaeaea;
}

.footer_frame .footer_botton .footer_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_main .footer_bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_bottom_left span {
  margin-right: 66px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_main .footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .footer_bottom_right .footer_select_box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.footer_frame .footer_select_box span {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .footer_select_box select {
  width: 70px;
  height: 40px;
  margin-left: 20px;

  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;

  letter-spacing: 0%;
  text-align: left;
}
